@import "bootstrap.scss"; 

$regFont: 'Open Sans', sans-serif;
$headingFont: 'Open Sans', sans-serif;
$datBlue: rgb(66, 139, 202);

body {
	@extend .container;
    font-family: $regFont;
    font-size: 18px;
    // background-color: #333;
}
// body>header,body>section,body>article,body>footer {
// 	background-color: #fff;
// 	width: 900px;
// 	margin: 0 auto;
// 	padding: 4px 8px;
// }
body>footer {
	border-top: 10px solid #333;		
	padding-top: 10px;
	padding-bottom: 10px;
	clear:both;
	text-transform: uppercase;
	margin-top: 35px;
}
body>article {
	min-height: 400px;
}

h1,h2,h3 {
	font-family: $headingFont;
	font-weight: 700;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: $datBlue;
    text-decoration: none;
}

a:hover {
	background-color: #ccc;
	text-decoration: underline;
}

.repPhoto {
	height: 100px;
	width: 100px;
	background-color: #333;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	img {
		max-height: 100px;
		max-width: 100px;
	}
}

#searching,#gettingNews {
	@extend .alert;
	@extend .alert-info;
}
#getRepsMessage, #getNewsMessage {
	@extend .alert;
	@extend .alert-danger;
}

#addressForm {
	@extend .input-group;
	@extend .input-group-lg;

	label:before {
		@extend .glyphicon;
		@extend .glyphicon-globe;
		margin-right: 4px;
	}
	label {
		@extend .input-group-addon;
	}
	label:after {
		content: ': ';
	}
	
	input {
		@extend .form-control;
		
	}
	.submitter {
		@extend .input-group-btn;
	}
	button {
		@extend .btn;
		@extend .btn-default;
	}
}

#results {
	@extend .row;
}

#repsList {
	@extend .col-xs-6;
	@extend .col-md-4;
	@extend .nav;
	@extend .nav-pills;
	@extend .nav-stacked;

	.repPhoto {
		display:none;
	}
	li {
		//background-color: #ccc;
		//display: block;
		
		// a {
		// 	font-size: 1.2em;
		// }
		.office {
			font-size: 0.9em;
			font-style: italic;
		}
	}
}


#selectedRep {
	@extend .col-xs-12;
	@extend .col-md-8;
	
	#selectedRepDetails {
		@extend .row;
	}

	#profile {
		@extend .col-xs-12;
		@extend .col-md-8;
		.repPhoto {
			float:left;
			margin-right: 10px;
		}
		.name {
			font-family: $headingFont;
			font-weight: 700;
			font-size: 	1.5em;
		}
		.office {
			padding: 4px 0;
			font-style: italic;
		}
		.division {
			padding: 4px 0;
			font-style: italic;
		}
		
	}
	#profile:after {
		//clear:both;
	}
	#links {
			@extend .col-xs-6;
	@extend .col-md-4;
		li {
			display:inline;
			height: 36px;
			width: 36px;
			a {
				@extend .iconLink;
			}
		}
	}
	#news {
		clear:both;
		padding-top: 15px;
		padding-bottom: 15px;

		.content {
			@extend .list-group;
		}

		article {
			@extend .list-group-item;
		}

		.title {
			font-size: 1.1em;
		}
		time {
			display: block;
			font-size: 0.8em;
			font-style: italic;
		}
		.snippet {
			font-size: 0.9em;
		}
		.fullText {
			display: none;
		}
	}
	footer {
		font-size: 0.5em;
		text-transform: uppercase;
		margin-top: 10px;
	}
}

.iconLink {
	@extend .text-hide;
	width: 36px;
	height: 36px;
	display: inline-block;
}

.homepageLink {
	background-image: url('../images/AboutMe-36.png');
}

.facebookLink {
	background-image: url('../images/Facebook-36.png');
}

.googlePlusLink {
	background-image: url('../images/GooglePlus-36.png');
}

.twitterLink {
	background-image: url('../images/Twitter-36.png');
}

.youtubeLink {
	background-image: url('../images/YouTube_02-36.png');
}