$regFont: 'Exo 2', sans-serif;
$headingFont: 'Montserrat', sans-serif;

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: $regFont;
    font-size: 18px;
    // background-color: #333;
}
body>header,body>section,body>article,body>footer {
	background-color: #fff;
	width: 900px;
	margin: 0 auto;
	padding: 4px 8px;
}
body>footer {
	border-top: 10px solid #333;		
	padding-top: 10px;
	padding-bottom: 10px;
	clear:both;
}
body>article {
	min-height: 400px;
}

h1,h2,h3 {
	font-family: $headingFont;
	font-weight: 700;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;

}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.repPhoto {
	height: 100px;
	width: 100px;
	background-color: #333;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	border-radius: 5em;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	img {
		max-height: 100px;
		max-width: 100px;
	}
}

#addressForm {
	font-size: 1.4em;
	label:after {
		content: ": ";
	}
	input {
		font-family: $regFont;
		font-size: 1em;
		width: 600px;
	}
	button {
		font-family: $headingFont;
		font-size: 1em;
	}
}

#results {
	float: left;
	width: 250px;

	#repsList {
		.repPhoto {
			display:none;
		}
		li {
			display: block;
			
			a {
				font-size: 1.2em;
			}
			.office {
				font-size: 0.9em;
			}
		}
	}
}

#selectedRep {
	float:left;
	width: 600px;
	
	#profile {
		.repPhoto {
			float:left;
		}
	}
	#profile:after {
		clear:both;
	}
	#news {

	}
	footer {
		text-size: 0.7em;
		text-transform: uppercase;
	}
}

.facebookLink

.googlePlusLink

.twitterLink

.youtubeLink